.carousel {
  position: relative;

  &::after {
    content: "";
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.22) 0,
      rgba(53, 41, 37, 0.5) 100%
    );
    mix-blend-mode: multiply;
    width: 100%;
    height: 193px;
    position: absolute;
    bottom: 0;
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    position: fixed;
  }
}

.carousel__header-logo {
  @include link();

  &:focus .carousel__header-image {
    @include focus-border();
  }
}

.carousel__header-image {
  position: absolute;
  top: 24px;
  left: 16px;
  width: 65px;
  height: 36px;
  border: 1px solid transparent;

  @media (min-width: $desktop-width) {
    top: 32px;
    left: 52px;
    width: 95px;
    height: 53px;
  }
}

.carousel__controls {
  position: absolute;
  z-index: 1;
  bottom: 4.5%;
  left: 16px;

  @media (min-width: $desktop-width) {
    left: 52px;
    top: 704px;
    bottom: 0;
  }
}
