.subscription {
  margin: 0 16px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-column: 2/-1;
    column-gap: 92px;
    margin: 0 52px 0 0;
  }
}

.subscription__form {
  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
  }
}
