@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rajdhani-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/rajdhani-v14-latin-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rajdhani-v14-latin-500.woff2") format("woff22"),
    url("../fonts/rajdhani-v14-latin-500.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rajdhani-v14-latin-600.woff2") format("woff22"),
    url("../fonts/rajdhani-v14-latin-600.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rajdhani-v14-latin-700.woff2") format("woff22"),
    url("../fonts/rajdhani-v14-latin-700.woff") fotmat("woff");
  font-display: swap;
}
