.colour-list {
  @include list();

  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-left: 4px;
}

.colour-list__control,
.size-list__control {
  cursor: pointer;
}

.colour-list__control-mark {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $vio;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: block;

  &::before {
    content: "";
    width: 48px;
    height: 48px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: $white;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -4px;
    right: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
  }

  &--gray {
    background-color: $gray;
  }

  &--blue {
    background-color: #3d5876;
  }

  @media (min-width: $desktop-width) {
    width: 25px;
    height: 25px;

    &::before {
      content: "";
      width: 31px;
      height: 31px;
      left: -3px;
    }
  }
}

.colour-list__control-radio[type="radio"]:checked + .colour-list__control-mark::before {
  border-color: $vio;
}

.colour-list__control-radio[type="radio"]:hover + .colour-list__control-mark::before {
  border-color: $gray;
}

.colour-list__control-radio[type="radio"]:focus + .colour-list__control-mark::before {
  @include focus-border();
}

.colour-list__control-radio[type="radio"]:active + .colour-list__control-mark::before {
  border-color: $vio;
}
